*{
	margin:0;
	padding:0;
}
body{
	background:#ccc url(../images/BG.jpg) repeat top left;
	font-family: Arial, Helvetica, sans-serif;
	color:#444;
	font-size:12px;
	color: #000;
}

/* Booklet jQuery Plugin Style*/
.b-wrap-left  {
	background:#fff url(../images/left_bg.jpg) no-repeat top left;
}
.b-wrap-right {
	background:#efefef url(../images/right_bg.jpg) no-repeat top left;
}
.b-wrap-right img{
	position: absolute;
	bottom: -150px;
	left: 0px;
}
a#next_page_button,
a#prev_page_button{
	display:none;
	position:absolute;
	width:50px;
	height:50px;
	cursor:pointer;
	margin-top:140px;
	top:50%;
	background:transparent url(../images/buttons.png) no-repeat 0px -40px;
}
a#prev_page_button{
	left:170px;
	background-position:-2px 0px;
}
a#next_page_button{
	right:150px;
	background-position:-2px 0px;
}
a#next_page_button:hover{
	background-position:0px 0px;
}
a#prev_page_button:hover{
	background-position:0px 0px;
}